[submodule "cryptography/libsodium"]
	path = cryptography/libsodium
	url = git@github.com:jedisct1/libsodium.git
[submodule "java-sdk/deps/bc-libs-java"]
	path = java-sdk/deps/bc-libs-java
	url = git@github.com:bitmark-inc/bc-libs-java.git
[submodule "android-sdk/deps/bc-libs-java"]
	path = android-sdk/deps/bc-libs-java
	url = git@github.com:bitmark-inc/bc-libs-java.git
