[submodule "cryptography/libsodium"]
	path = cryptography/libsodium
	url = git@github.com:jedisct1/libsodium.git
[submodule "bc-bip39-wrapper/bc-bip39"]
	path = bc-bip39-wrapper/bc-bip39
	url = git@github.com:bitmark-inc/bc-bip39.git
[submodule "bc-bip39-wrapper/bc-crypto-base"]
	path = bc-bip39-wrapper/bc-crypto-base
	url = git@github.com:BlockchainCommons/bc-crypto-base.git
